*{
	margin:0px;
	padding:0px;
}
h1{font:bold 20px tahoma}
h2{font:bold 10px tahoma}

header,section,nav,article,footer,hgroup{
	display:block;
}
body{
	
	width:100%;
}

#back_image{
	position:relative;
}
#written_text{
	position:absolute;
	top:10%;
	left:40%;
}
#result{
	position:absolute;
	border:2px solid black;
	width:400px;
	height:30px;
	top:20%;
	left:35%;
}
#income{
	position:absolute;
	border:2px solid black;
	background:blue;
	width:400px;
	height:30px;
	top:50%;
	left:35%;
	text-align:left;
}
#expenses{
	position:absolute;
	border:2px solid black;
	background:red;
	width:400px;
	height:30px;
	top:70%;
	left:35%;
	text-align:left;
}
#income_value{
	position:absolute;
	border:2px solid black;
	width:150px;
	height:20px;
	top:52%;
	left:50%;
}
#expenses_value{
	position:absolute;
	border:2px solid black;
	width:150px;
	height:20px;
	top:72%;
	left:50%;
}
#options{
	position:relative;
	border:3px solid red;
	background:gray;
	height:60px;
	
}
#increase_decrease{
	position:absolute;
	left:30%;
	top:25%;
}
#desc{
	position:absolute;
	left:35%;
	top:25%;
	width:300px;
}
#get_value{
	position:absolute;
	left:60%;
	top:25%;
	width:100px;
}
#add{
	position:absolute;
	left:68%;
	top:25%;
	border:2px solid black;
	background:green;
}
#UI{
	position:relative;
	border:2px solid black;
	height:400px;
}
#add_income{
	color:blue;
	position:absolute;
	left:25%;
	
}
#add_expense{
	color:red;
	position:absolute;
	left:60%;
}
#income_UI{
	position:absolute;
	width:50px;
	height:50px;
	
}