*{
	margin:0px;
	padding:0px;
}
h1{font:bold 14px tahoma;}
h2{font:bold 14px tahoma;}

header,section,nav,footer,article,hgroup{
	display:block;
}

body{
	text-align:center;
	width:100%;
	
}
#tuna{
	text-align:center;
	border:3px solid black;
	outline:black;
	background:red;
	float:center;
	
}

#luna{
	
	text-align:center;
	border:3px solid black;
	outline:black;
	background:gray;
}

#suna{
	text-align:center;
	border:black;
	border:3px solid black;
	background:orange;
}

#addingVideo{
	padding:50px;
	text-align:center;
	border:3px solid black;
	height:550px;
	width:710px;
	background:gray;
}
#addingButton{
	float:left;
	height:10px;
	width:20px;
	padding:10px;
}
#progressFrame{
	
	position:relative;
	float:right;
	height:20px;
	width:700px;
	border:1px solid black;
	background:red;
	padding:2px;
}
#progressBar{
	position:absolute;
	background:white;
	width:0px;
	height:20px;
	
}